.profile{
    .page-content{
        background-color: var(--main-color-six);
        .container{
            min-height: inherit;
            .edit-profile-form{
                textarea{
                    resize: none;
                }
                .address{
                    height: calc(116px + 1.5rem);
                }
                .edit-profile-btn{
                    background-color: var(--main-color-one);
                    border: 1px solid #000;
                }
            }
        }
    }
}