.admin-login{
    background-color: var(--main-color-three);
    font-family: var(--font-family-one);
    min-height: 100vh;
    .admin-login-form{
        input{
            @media (max-width: 767px) {
                width: 100% !important;
            }
        }
    }
}