.contact-us .contact-us-content-box {
  height: 400px;
  overflow-y: auto;
}

.contact-us .contact-us-content-box .how-to-contact-us-explain {
  line-height: 2;
  margin-bottom: 0;
  font-family: var(--font-family-one);
  font-size: 22px;
  color: #004F59;
}

@media (max-width: 767px) {
  .contact-us .contact-us-content-box .how-to-contact-us-explain {
    text-align: center;
    font-size: 20px;
    padding: 0 1rem !important;
  }
}

.contact-us .contact-us-content-box .how-to-contact-us-explain .email-link {
  color: #FFF;
}

.contact-us .contact-us-content-box .how-to-contact-us-explain .email-link:hover {
  font-weight: bold;
}
