.contact-us{
    .contact-us-content-box{
        height: 400px;
        overflow-y: auto;
        .how-to-contact-us-explain{
            line-height: 2;
            margin-bottom: 0;
            font-family: var(--font-family-one);
            font-size: 22px;
            color: #004F59;
            @media (max-width: 767px) {
                text-align: center;
                font-size: 20px;
                padding: 0 1rem !important;
            }
            .email-link{
                color: #FFF;
                &:hover{
                    font-weight: bold;
                }
            }
        }
    }
}