:root{
    --main-color-one: rgba(132, 169,140, 100%);
    // --main-color-two: rgba(112, 112, 112, 100%);
    --main-color-three: rgba(183, 228,199, 100%);
    --main-color-four: rgba(183, 228, 199, 50%);
    --main-color-five: rgba(64, 145, 108, 80%);
    --main-color-six: rgba(183, 228,199, 100%);
    --font-family-one: "Tajawal", sans-serif;
    --font-family-two: "Cairo", sans-serif;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

a{
    color: #FFF;
    text-decoration: none;
}

#__next{
    height: inherit;
    > div {
        height: inherit;
    }
}

::-webkit-scrollbar{
    background-color: transparent;
    width: 15px
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color-one);
}

input, select, textarea{
    border-radius: 15px !important;
    border: 1px solid #AAA !important;
    font-size: 18px !important;
}

.password-field-box, .confirm-password-field-box{
    position: relative;
    .icon-box{
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        .icon{
            font-size: 30px;
            cursor: pointer;
        }
    }
}

.shared-pages-with-styles{
    .page-content{
        .container{
            min-height: inherit;
            font-family: var(--font-family-two);
            .row{
                > div:first-child{
                    background-color: var(--main-color-six);
                    border-radius: 30px;
                }
                min-height: inherit;
                @media (max-width: 767px) {
                    padding: 20px;
                    gap: 30px;
                    > div:first-child{
                        order: 2;
                    }
                }
                .image-box{
                    .page-img{
                        max-width: 100%;
                        height: 100%;
                    }
                }
                .page-content-explain{
                    line-height: 2;
                    font-size: 20px;
                    margin-bottom: 0;
                    height: 400px;
                    overflow-y: auto;
                    color: #004F59;
                    font-family: var(--font-family-one);
                    font-size: 22px;
                    @media (max-width: 767px) {
                        text-align: center;
                        font-size: 20px;
                        padding: 0 1rem !important;
                    }
                }
            }
        }
    }
}